* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

#my-picture {
    display: block;
    width: 33.3vw;
    height: 20vh;
    margin: auto;
}

body {
    background-image: linear-gradient(to right, powderblue, blue);
}